#DayDetails_Date
{
    font-weight: 600;
    font-size: 125%;
}



#DayDetails_AddLessonContainer
{
    width: 350px;
}

#DayDetails_AddLesson
{
    display: grid;
    gap: 25px;
    padding: 17.5px 15px;
    font-size: 120%;
}



#DayDetails_AddLesson .Input
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12.5px;
}

#DayDetails_AddLesson .Input > input
{
    border-radius: 5px;
    border: var(--Border);
    font-size: 100%
}


#DayDetails_AddLesson_Date > input
{
    padding: 1px 0 1px 5px;
}