#DayDetailsContainer,
#LessonDetailsContainer
{
    width: 400px;
}

#DayDetails,
#LessonDetails
{
    display: grid;
    gap: 20px;
    padding: 15px;
    font-size: 120%;
}



#DayDetails_Info,
#LessonDetails_Info
{
    display: grid;
    gap: 5px;
}

#DayDetails_Info > *,
#LessonDetails_Info > *
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12.5px;
    align-items: center;
    line-height: 100%;
}

#DayDetails_Info > * > svg,
#LessonDetails_Info > * > svg
{
    opacity: var(--Gray00-Opacity);
}



#LessonDetails_Attachments > *
{
    border: var(--Border);
    padding: 5px 17.5px;
    border-radius: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: var(--Gray04);
    width: fit-content;
    max-width: 200px;
}