#DayDetailsContainer,
#LessonDetailsContainer,
#LessonAdderContainer
{
    width: 400px;
}

.Details
{
    display: grid;
    gap: 25px;
    padding: 17.5px 15px;
    font-size: 120%;
}



.Details .Header
{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.Details .Header > span > custom-round-button
{
    --Scale: 28px;
}



.Details .Info
{
    display: grid;
    gap: 5px;
}

.Details .Info > div
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12.5px;
    align-items: center;
    line-height: 100%;
}

.Details .Info > div > custom-icon
{
    color: var(--Gray70-Opacity);
}

.Details .Info > div > span
{
    word-break: break-word;
}