*
{
    --Main: HSL(210, 100%, 56%);
    --Secondary: HSL(348, 83%, 47%);

    --Main-Transparent: HSLA(210, 100%, 56%, 35%);
    --Secondary-Transparent: HSLA(348, 83%, 47%, 25%);

    --Gray00-Opacity: 70%;
    --Gray01-Opacity: 55%;
    --Gray02-Opacity: 20%;
    --Gray03-Opacity: 10%;
    --Gray04-Opacity: 5%;
    --Gray05-Opacity: 2.5%;

    --Border: 1px solid var(--Gray02);
}

body
{   
    --Gray00: HSL(0, 0%, 30%);
    --Gray01: HSL(0, 0%, 45%);
    --Gray02: HSL(0, 0%, 80%);
    --Gray03: HSL(0, 0%, 90%);
    --Gray04: HSL(0, 0%, 95%);
    --Gray05: HSL(0, 0%, 97.5%);

    --Background00: HSL(125, 15%, 95%);
    --Background01: #FFFFFF;
    --Background02: #FFFFFF;

    --Text: #000000;
    --Shadow: HSLA(0, 0%, 40%, 20%) 0px 2px 8px 0px;
}

@media (prefers-color-scheme: dark) { body
{
    --Gray00: HSL(0, 0%, 70%);
    --Gray01: HSL(0, 0%, 55%);
    --Gray02: HSL(0, 0%, 20%);
    --Gray03: HSL(0, 0%, 10%);
    --Gray04: HSL(0, 0%, 5%);
    --Gray05: HSL(0, 0%, 2.5%);

    --Background00: HSL(125, 5%, 7.5%);
    --Background01: HSL(125, 5%, 12.5%);
    --Background02: HSL(125, 5%, 15%);

    --Text: #FFFFFF;
    --Shadow: HSLA(0, 0%, 10%, 20%) 0px 2px 8px 0px;

    color-scheme: dark;
} }