*
{
    font-family: Google Sans;
}



@font-face 
{
    font-family: TT Chocolates;
    font-weight: 400;
    src: url(Fonts/TT_Chocolates_Regular.ttf);
}

@font-face
{
    font-family: TT Chocolates;
    font-weight: 500;
    src: url(Fonts/TT_Chocolates_Medium.ttf);
}

@font-face
{
    font-family: TT Chocolates;
    font-weight: 700;
    src: url(Fonts/TT_Chocolates_DemiBold.ttf);
}