@font-face 
{
    font-family: GoogleSans;
    font-weight: 400;
    src: url(Fonts/GoogleSans-Regular.ttf);
}

@font-face
{
    font-family: GoogleSans;
    font-weight: 500;
    src: url(Fonts/GoogleSans-Medium.ttf);
}

@font-face
{
    font-family: GoogleSans;
    font-weight: 700;
    src: url(Fonts/GoogleSans-Bold.ttf);
}

*
{
    font-family: Inter;
    /* font-family: Commissioner; */
    font-family: GoogleSans;
}