html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 25px 0;
    background-color: var(--Background00);
    gap: 25px;
    overflow: hidden;
    height: calc(100% - 50px);
}


main
{
    display: flex;
    overflow: hidden;
}



.Island
{
    background-color: var(--Background01);
    border-radius: 8px;
    box-shadow: var(--Shadow);
}