.EmptyHidden:empty,
[hidden]
{
    display: none !important;
}

*
{
    color: var(--Text);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

svg
{
    fill: var(--Text);
}

.js-focus-visible :focus:not(.focus-visible)
{
    outline: 0;
}