#Information
{
    padding: 15px 22.5px;
    display: grid;
    gap: 5px;
    font-size: 16.5px;
}

main.NoAlarms > #Information
{
    display: none;
}



#Information a
{
    text-decoration: none;
    font-weight: 500;
}



#Information .Caution
{
    color: var(--Caution);
    font-size: 95%;
    font-weight: 600;
    line-height: 100%;
}