/* Week */
    /* Week */
    #TimetableTab
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        justify-content: center;
        align-self: center;
        gap: 5px;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        padding: 5px;
    }

    #TimetableHeight
    {
        display: flex;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        margin: -5px;
        padding: 5px;
    }

    #TimetableScroll
    {
        display: flex;
        align-items: center;
        align-self: center;
        max-width: 100%;
        max-height: min(800px, 100%);
        overflow: auto;
        scroll-padding: 25px;
    }

    #Timetable
    {
        display: grid;
        grid-gap: 40px 80px;
        font-size: 20px;
        padding: 30px 40px;
        overflow: auto;
        margin: auto;
    }



    /* Offsets */
    #Timetable.Past
    {
        --ShadowColor: 240, 0%, 50%;
    }

    #Timetable.Current
    {
        --ShadowColor: 210, 100%, 56%;
    }

    #Timetable.Next
    {
        --ShadowColor: 348, 83%, 47%;
    }

    #Timetable:empty
    {
        background-image: URL('/Style/Tumbleweed.gif');
        background-size: cover;
        min-width: 250px;
        height: 250px;
    }



    /* Adaptivity */
    @media (max-width: 600px)
    {
        body
        {
            height: 100% !important;
            grid-template-rows: 1fr auto !important;
            padding: 0 !important;
            gap: 2.5px !important;
        }

        #TimetableScroll
        {
            width: 100%;
        }

        #Timetable
        {
            padding: 30px;
            width: calc(100% - 60px);
        }
    }





/* Day */
    /* Day */
        #Timetable .Day
        {
            display: grid;
            width: max-content;
            max-width: 300px;
            height: fit-content;
            height: -moz-fit-content;
            gap: 4px;
        }

        main.NoAlarms #Timetable .Day,
        #Timetable.NoTime .Day
        {
            gap: 1px;
        }



    /* Title */
        /* Title */
        #Timetable .Day > :first-child
        {
            text-align: left;
        }

        #Timetable .Day > :first-child > :first-child
        {
            font-size: 24px;
            font-weight: 700;
        }

        /* Period */
        main.NoAlarms #Timetable .Day > :first-child > :last-child,
        #Timetable.NoTime .Day > :first-child > :last-child
        {
            display: none;
        }

        #Timetable .Day > :first-child > :last-child
        {
            font-size: 15px;
            font-weight: 600;
            margin-top: -2.5px;
        }

        /* Color */
        #Timetable .Day:not(.Today):not(.Tomorrow) > :first-child
        {
            opacity: 65%;
        }

        #Timetable .Day.Today > :first-child > *
        {
            color: var(--Main);
        }

        #Timetable .Day.Tomorrow > :first-child > *
        {
            color: var(--Secondary);
        }

        /* Note */
        #Timetable .Day.Note > :first-child > :first-child::after
        {
            content: ' •';
        }

        #Timetable .Day:not(.Note) > :first-child > :first-child::after
        {
            visibility: hidden;
        }


    /* Lessons */
    #Timetable .Day > :last-child
    {
        display: grid;
        gap: 4px;
    }





/* Lesson */
    /* Lesson */
        /* Lesson */
        #Timetable .Lesson
        {
            display: grid;
            grid-auto-flow: column;
            gap: 10px;
            width: fit-content;
            width: -moz-fit-content;
            line-height: 100%;
            word-break: break-word;
            align-items: center;
        }

        /* Lesson Number */
        #Timetable .Lesson > :first-child
        {
            display: flex;
            justify-content: center;
            width: 15px;
            height: 1em;
            opacity: var(--Gray70-Opacity);
        }

        /* Link unstyling */
        #Timetable .Lesson > :nth-child(2)
        {
            text-align: left;
            font-weight: 500;
            text-decoration: none;
        }

    /* Focus */
    #Timetable .Lesson.Focused
    {
        border-radius: 5px;
        padding: 5px;
        margin: -5px;
        background-color: HSLA(var(--Accent-Hue), 100%, 30%, 7.5%);
    }



    /* Notes, Changes, etc. */
        /* Note */
        #Timetable .Lesson > :last-child
        {
            height: 5px;
            width: 5px;
            border-radius: 2.5px;
            background-color: var(--Text);
        }

        #Timetable .Lesson:not(.Note) > :last-child
        {
            visibility: hidden;
        }

        /* Changes */
        #Timetable .Lesson > :nth-child(2) > :first-child:empty,
        #Timetable .Lesson > :nth-child(2) > :first-child:not(:empty) + *
        {
            display: none;
        }

        /* Orange */
        #Timetable .Lesson > :nth-child(2) > :first-child
        {
            color: HSL(39, 100%, 40%);
        }

        /* Crossed Out */
        #Timetable .Lesson.Canceled
        {
            opacity: 50%;
        }

        #Timetable .Lesson.Canceled > :nth-child(2) > *
        {
            text-decoration: line-through;
        }

        /* Added */
        #Timetable .Lesson.Added *
        {
            color: Green;
        }