custom-textarea[readonly] .Underline > *,
custom-textarea[readonly] .Underline::after
{
    border: none !important;
}


custom-textarea textarea
{
    display: block;
    width: calc(100% - 20px);
    font-size: 100%;
    padding: 10px;
    resize: none;
    border-radius: 5px 5px 0 0;
    background: var(--Gray02-5);
}

custom-textarea[readonly] textarea
{
    cursor: default;
    border-radius: 5px;
    background: var(--Gray05);
}



custom-textarea > button
{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-weight: 500;
    font-size: 85%;
}

custom-textarea > button > span
{
    color: var(--Gray70);
}

custom-textarea > button > svg
{
    fill: var(--Gray70);
}