custom-textarea[readonly] .Underline > *,
custom-textarea[readonly] .Underline::after
{
    border: none !important;
}


custom-textarea textarea
{
    display: block;
    width: calc(100% - 20px);
    font-size: 18.5px;
    padding: 10px;
    resize: none;
    border-radius: 5px 5px 0 0;
    background: var(--Accent02-5);
}

custom-textarea[readonly] textarea
{
    cursor: default;
    border-radius: 5px;
    background: var(--Accent05);
}



custom-textarea > button
{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 14.5px;
    border-radius: 5px;
    padding: 3px 5px;
}

custom-textarea > button:hover
{
    background-color: var(--Accent05);
}

custom-textarea > button > span
{
    color: var(--Accent70);
}

custom-textarea > button > custom-icon
{
    --Scale: 18px;
    --Color: var(--Accent70);
}