custom-expand
{
    display: grid;
    gap: 10px;
}



button.Less,
button.More
{
    display: flex;
    align-items: center;
}

button.Less > svg,
button.More > svg
{
    transition: transform 250ms;
}

button.Less > svg
{
    transform: rotate(0);
    padding-top: 1px;
}

button.More > svg
{
    transform: rotate(-180deg);
}