.Details .Title textarea
{
    font-size: 115%;
    font-weight: 500;
}

#LessonDetails .Title textarea::placeholder
{
    text-decoration: line-through;
}



#LessonDetails .Info button
{
    background: var(--Gray03);
    border-radius: 5px;
    font-weight: 500;
    padding: 14px 10px;
    font-size: 85%;
    text-align: center;
}