.Details .Title textarea
{
    font-size: 115%;
    font-weight: 500;
}

.Lesson.Details .Title textarea::placeholder
{
    text-decoration: line-through;
}



.Lesson.Details.NotFound > span
{
    font-weight: 500;
    font-size: 20px;
}

.Lesson.Details.NotFound > button
{
    color: var(--Main);
    font-weight: 500;
    text-align: end;
}