#LessonDetails_Header
{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}



#LessonDetails_Subject textarea
{
    font-size: 115%;
    font-weight: 500;

}

#LessonDetails_Subject textarea::placeholder
{
    text-decoration: line-through;
}