#LessonDetailsContainer
{
    width: 400px;
}

#LessonDetails
{
    display: grid;
    gap: 15px;
    padding: 15px;
    font-size: 120%;
}



#LessonDetails_Header
{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}



#LessonDetails_Subject textarea
{
    font-size: 115%;
    font-weight: 500;

}

#LessonDetails_Subject textarea::placeholder
{
    text-decoration: line-through;
}



#LessonDetails_Info
{
    display: grid;
    gap: 5px;
}

#LessonDetails_Info > *
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12.5px;
    align-items: center;
    line-height: 100%;
}

#LessonDetails_Info > * > svg
{
    opacity: var(--Gray00-Opacity);
}