.DetailsContainer
{
    width: 400px;
}

.Details
{
    display: grid;
    gap: 25px;
    padding: 17.5px 15px;
    font-size: 18.5px;
}



.Details .Header
{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.Details .Header > span > custom-round-button
{
    --Scale: 28px;
}



.Details .Info
{
    display: grid;
    gap: 5px;
}

.Details .Info > div
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 12.5px;
    align-items: center;
    line-height: 100%;
}

.Details .Info > div > custom-icon
{
    --Color: var(--Accent70);
}

.Details .Info > div > span
{
    word-break: break-word;
}



.Details .Files
{
    display: grid;
    border-radius: 5px;
    border: var(--Border);
}

.Details .Files > *
{
    display: grid;
    grid-template-columns: 1fr auto;
}

.Details .Files > :not(:last-child)
{
    border-bottom: var(--Border);
}



.Details .Files > * > custom-round-button
{
    margin: 12px;
    aspect-ratio: 1;
    --Icon-Color: var(--Accent70);
}

.Details .Files > :not(.Uploading) > custom-round-button
{
    --Hover-Color: var(--Caution);
}

.Details .Files > * > a
{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 12px 14px;
    border-radius: 5px;
    overflow: hidden;
}

.Details .Files > * > a:not(:hover)
{
    text-decoration: none;
}

.Details .Files > .Uploading > a
{
    background: linear-gradient(90deg, var(--Accent05) 0%, var(--Accent05) var(--Progress), var(--Accent02-5) var(--Progress), var(--Accent02-5) 100%);
}

.Details .Files > * > a > span
{
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.Details .Files > * > a:hover
{
    background-color: var(--Accent02-5);
}