nav
{
    display: grid;
    grid-auto-flow: column;
    width: min(700px, 100%);
    justify-self: center;
}



nav > *
{
    display: grid;
    gap: 2.5px;
    justify-items: center;
}



nav > * > custom-round-button
{
    --Scale: 30px;
}

nav > * > div
{
    font-size: 80%;
    font-weight: 500;
}



nav > .Selected > custom-round-button 
{
    --Icon-Color: var(--Main);
    --Hover-Color: var(--Main);
}

nav > .Selected > div
{
    color: var(--Main);
}