nav
{
    display: grid;
    grid-auto-flow: column;
    width: min(700px, 100%);
    justify-self: center;
}



nav > *
{
    display: grid;
    gap: 2.5px;
    justify-items: center;
}



nav > * > custom-round-button
{
    --Scale: 28px;
    --Icon-Color: var(--Gray70);
}

nav > * > div
{
    font-size: 80%;
    font-weight: 500;
    color: var(--Gray70);
}



nav > .Selected > custom-round-button 
{
    --Icon-Color: var(--Main);
    --Hover-Color: var(--Main);
}

nav > .Selected > div
{
    color: var(--Main);
}



@media (max-width: 600px)
{
    nav
    {
        grid-row: 2;
        background-color: var(--Background01);
        box-shadow: var(--Shadow);
        padding: 10px 0;
        height: fit-content;
    }

    nav > * > custom-round-button
    {
        --Scale: 24px;
    }
}