custom-round-button
{
    --Scale: 24px;
    --Radius: calc(var(--Scale) + 12px);

    --this-Scale: var(--Scale);     /* TO DO */

    --Icon-Color: var(--Text);
    --Hover-Color: var(--Gray70);
}



custom-round-button > button
{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
    width: var(--Radius);
    height: var(--Radius);
    min-width: var(--Radius);
    min-height: var(--Radius);
    margin: -5px;
    border-radius: 50%;
}



custom-round-button > button > custom-icon
{
    --Color: var(--Icon-Color);
    --Scale: var(--this-Scale);
    transition: fill 250ms;
}

custom-round-button > button:hover > custom-icon
{
    --Color: var(--Icon-Color);
}



custom-round-button > button > div
{
    position: absolute;
    clip-path: circle(10px);
    width: 100%;
    height: 100%;
    opacity: 0%;
    z-index: -1;
    background-color: var(--Hover-Color);
    transition: opacity 100ms, clip-path 300ms;
}

custom-round-button > button:hover > div
{
    clip-path: circle(var(--Radius));
    opacity: 5%;
}



custom-round-button > button > span
{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background-color: var(--Hover-Color);
    animation: Ripple 750ms linear;
    width: var(--Radius);
    height: var(--Radius);
}

@keyframes Ripple
{
    0%     { opacity: 10%;   transform: scale(50%);  }
    17.5%  {                 transform: scale(100%); }
    50%    { opacity: 5%;                          }
    100%   { opacity: 0%;    transform: scale(100%); }
}