*
{
    --Main: HSL(210, 100%, 56%);
    --Secondary: HSL(348, 83%, 47%);
    --Main-Transparent: HSLA(210, 100%, 45%, 7.5%);
    --Secondary-Transparent: HSLA(348, 83%, 47%, 25%);
    --Accent-Hue: 20;
    --Accent-Saturation: 10%;
    --Border: 1px solid var(--Accent20);
    --Shadow: 0 1px 1px 0 RGB(0 0 0 / 20%), 0 1px 2px 1px RGB(0 0 0 / 10%);
}

body
{
    color-scheme: light;

    --Text: #000000;

    --Background00: HSL(0, 0%, 96.5%);
    --Background01: #FFFFFF;
    --Background02: #FFFFFF;

    --Accent70: HSL(var(--Accent-Hue), var(--Accent-Saturation), 30%);
    --Accent20: HSL(var(--Accent-Hue), var(--Accent-Saturation), 80%);
    --Accent05: HSL(var(--Accent-Hue), var(--Accent-Saturation), 95%);
    --Accent02-5: HSL(var(--Accent-Hue), var(--Accent-Saturation), 97.5%);

    --Change: HSL(35, 100%, 42.5%);
    --Sudden: HSL(120, 100%, 25%);

    --Caution: Darkred;
}

@media (prefers-color-scheme: dark) { body
{
    color-scheme: dark;

    --Text: #FFFFFF;

    --Background00: HSL(var(--Accent-Hue), 1%, 2.5%);
    --Background01: HSL(var(--Accent-Hue), 1%, 10%);
    --Background02: HSL(var(--Accent-Hue), 1%, 15%);

    --Accent70: HSL(var(--Accent-Hue), var(--Accent-Saturation), 70%);
    --Accent20: HSL(var(--Accent-Hue), var(--Accent-Saturation), 20%);
    --Accent05: HSL(var(--Accent-Hue), var(--Accent-Saturation), 5%);
    --Accent02-5: HSL(var(--Accent-Hue), var(--Accent-Saturation), 2.5%);

    --Change: HSL(35, 100%, 50%);
    --Sudden: HSL(120, 100%, 35%);

    --Caution: Red;
} }