#Week
{
    padding: 10px 10.5px;
    font-size: 110%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border-radius: 100px;
    z-index: 1;
}



#Week > :first-child svg
{
    margin-right: 2.5px;
}

#Week > :last-child svg
{
    margin-left: 2.5px;
}

#Week custom-round-button
{
    --Radius: calc(var(--Scale) + 22px);
}



#Week_Period
{
    font-weight: 500;
    min-width: 125px;
}

#Week.Past > #Week_Period
{
    opacity: var(--Gray70-Opacity);
}

#Week.Current > #Week_Period
{
    color: var(--Main);
}

#Week.Next > #Week_Period
{
    color: var(--Secondary);
}