#Deadlines > div
{
    display: grid;
    gap: 25px;
}

#Deadlines > * > *
{
    display: grid;
}



#Deadlines > * > * > :first-child
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-items: center;
}

#Deadlines > * > * > :first-child > hr
{
    height: 1px;
    border: none;
    background-color: var(--Gray02);
    color: var(--Gray02);
    margin: 0;
}



#Deadlines > * > * > :last-child > :last-child
{
    font-size: 90%;
}