.Adder > .Info > div > div
{
    display: grid;
}



.Adder > .Info  input
{
    border: none;
    border-bottom: var(--Border);
    transition: border-bottom 250ms;
    border-radius: 5px 5px 0 0;
    background-color: var(--Gray02-5);
    height: 40px;
    font-size: 18px;
    padding: 1px 12.5px;
    width: calc(100% - 25px);
}

.Adder > .Info input:focus
{
    outline: none;
    border-bottom: 1px solid var(--Main);
}

.Adder > .Info input:invalid
{
    background-color: HSLA(0, 100%, 50%, 5%);
}



.Adder > .Info .Caution
{
    display: flex;
    visibility: hidden;
    gap: 4px;
}

.Adder > .Info .Caution > :first-child
{
    width: 10px;
    height: 8px;
    border-top: 1px solid Darkred;
    border-left: 1px solid Darkred;
    margin: 8px 0 0 5px;
    border-radius: 5px 0 0 0;
}

.Adder > .Info .Caution :last-child
{
    font-size: 14px;
    color: Darkred;
}