.Adder > .Info input
{
    border: none;
    border-bottom: var(--Border);
    transition: border-bottom 250ms;
    border-radius: 5px 5px 0 0;
    background-color: var(--Gray02-5);
    height: 40px;
    font-size: 18px;
    padding: 1px 12.5px;
    width: calc(100% - 25px);
}

.Adder > .Info input:focus
{
    outline: none;
    border-bottom: 1px solid var(--Main);
}



.Adder .Caution:not(.Invalid),
.Adder:not(.Strict) .Caution.Strict 
{
    opacity: 0;
    height: 0;
}



.Adder .Caution
{
    display: flex;
    gap: 2.5px;
}

.Adder .Caution > :first-child
{
    width: 10px;
}

.Adder .Caution.Bottom > :first-child
{
    border-top: 1px solid var(--Caution);
    border-left: 1px solid var(--Caution);
    margin: 8px 0 0 5px;
    border-radius: 5px 0 0 0;
}

.Adder .Caution.Top > :first-child
{
    border-bottom: 1px solid var(--Caution);
    border-left: 1px solid var(--Caution);
    margin: 0 0 8px 5px;
    border-radius: 0 0 0 5px;
}

.Adder .Caution :last-child
{
    min-height: 1rem;
    font-size: 15px;
    color: var(--Caution);
}