.Details .Title textarea
{
    font-size: 115%;
    font-weight: 500;
}

.Lesson.Details .Title textarea::placeholder
{
    text-decoration: line-through;
}

.Details .Title.Change textarea
{
    color: var(--Change);
}

.Details .Title.Sudden textarea
{
    color: var(--Sudden);
}



.Lesson.Details .Change > span
{
    color: var(--Change);
}

.Lesson.Details .Sudden > span
{
    color: var(--Sudden);
}

.Lesson.Details .Sudden > custom-icon
{
    --Color: var(--Sudden);
}