custom-round-button
{
    --Radius: calc(var(--Scale) + 12px);
}



custom-round-button > button
{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
    width: var(--Radius);
    height: var(--Radius);
    min-width: var(--Radius);
    min-height: var(--Radius);
    margin: -5px;
    border-radius: 50%;
}



custom-round-button > button > svg
{
    fill: var(--Color);
    width: var(--Scale);
    height: var(--Scale);
    transition: fill 250ms;
}

custom-round-button > button:hover > svg
{
    fill: var(--Color);
}



custom-round-button > button > :nth-child(2)
{
    position: absolute;
    clip-path: circle(10px);
    width: 100%;
    height: 100%;
    opacity: 0%;
    z-index: -1;
    background-color: var(--Hover);
    transition: opacity 100ms, clip-path 300ms;
}

custom-round-button > button:hover > :nth-child(2)
{
    clip-path: circle(var(--Radius));
    opacity: 5%;
}



custom-round-button > button > span
{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background-color: var(--Hover);
    animation: Ripple 750ms linear;
    width: var(--Radius);
    height: var(--Radius);
}